{% extends "base.html" %}

{% block page_content %}

    {% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}
    <form action="{{ url_for('add_entry') }}" method="post" class="form-signin">
      <h1 class="form-signin-heading">增加合法车辆编号</h1>
      <h3 class="form-signin-heading">请选择门和车辆</h3>
      <dt>GateId
      <label for="GATEID" class="sr-only">GATEID</label>
      <input type="text" name="GATEID" class="form-control" placeholder="GateId" required autofocus>
      <dt>CarId
      <label for="CARID" class="sr-only">CARID</label>
      <input type="text" name="CARID" class="form-control" placeholder="CarId" required>
      <dt>Status
      <label for="STATE" class="sr-only">STATE</label>
      <input type="text" name="STATE" class="form-control" placeholder="Status" required>
    </br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
{% endblock %}