{% extends "base.html" %}

{% block page_content %}

{% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('set_dist') }}" method="post" class="form-signin">
    <h1 class="form-signin-heading">设置各个门的通信距离</h1>
    <h3 class="form-signin-heading">请设置门和距离</h3>
    <dt>GateId
    <label for="GATEID" class="sr-only">GATEID</label>
    <input type="text" name="GATEID" class="form-control" placeholder="GateId" required autofocus>
    <dt>CarId
    <label for="DIST" class="sr-only">CARID</label>
    <input type="text" name="DIST" class="form-control" placeholder="Distance" required>
  </br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
  </form>
</div> <!-- /container -->

{% endblock %}